artifacts/*
certificates/*
deploy/operator-base/*
deploy/sas-bases/*
infra/AzureServicePrincipalCerts/aom-infra-sp-cert.pem
site.yaml
license/*
operator-deploy/sas-bases/*
operator-deploy/operator-base/*