**/artifacts
**/certificates
**/deploy/operator-base
**/deploy/sas-bases
infra/AzureServicePrincipalCerts/aom-infra-sp-cert.pem
site.yaml
**/license
**/old-doc
**/operator-deploy/sas-bases
**/operator-deploy/operator-base