namespace: lab401
resources:
- sas-bases/base
# - sas-bases/overlays/cert-manager-issuer  #TLS#
- sas-bases/overlays/network/networking.k8s.io 
- sas-bases/overlays/cas-server
- sas-bases/overlays/internal-postgres  #CRUNCY"
# If your deployment contains programming-only offerings only, comment out the next line
- sas-bases/overlays/internal-elasticsearch
- sas-bases/overlays/update-checker
- sas-bases/overlays/cas-server/auto-resources 
configurations:
- sas-bases/overlays/required/kustomizeconfig.yaml
transformers:
# If your deployment does not support privileged containers or if your deployment
# contains programming-only offerings, comment out the next line 
- sas-bases/overlays/internal-elasticsearch/sysctl-transformer.yaml
- sas-bases/overlays/required/transformers.yaml
- site-config/mirror.yaml  #ACR#
- site-config/security/cert-manager-provided-ingress-certificate.yaml 
- sas-bases/overlays/cas-server/auto-resources/remove-resources.yaml 
# If your deployment contains programming-only offerings only, comment out the next line
- sas-bases/overlays/internal-elasticsearch/internal-elasticsearch-transformer.yaml
- site-config/data-access/data-mounts-cas.yaml                #DATA-ACCESS#
- site-config/data-access/data-mounts-deployment.yaml         #DATA-ACCESS#
- site-config/data-access/data-mounts-job.yaml                #DATA-ACCESS#
- sas-bases/overlays/data-access/data-env.yaml                #DATA-ACCESS#
- site-config/home-folders/compute-server-mount-nfs-home.yaml #HOME#
# Mount information
# - site-config/{{ DIRECTORY-PATH }}/cas-add-host-mount.yaml
components:
#- sas-bases/components/security/core/base/full-stack-tls
- sas-bases/components/security/core/base/truststores-only #NOTLS# #TLS#
#- sas-bases/components/security/network/networking.k8s.io/ingress/nginx.ingress.kubernetes.io/full-stack-tls 
#- RWX-PVC -------------------------------------------------------#
patches:
- path: site-config/storageclass.yaml 
  target:
    kind: PersistentVolumeClaim
    annotationSelector: sas.com/component-name in (sas-backup-job,sas-data-quality-services,sas-commonfiles,sas-cas-operator,sas-pyconfig)
#-----------------------------------------------------------------#
#- HOME -------------------------------------------------------#
- path: site-config/home-folders/compute-server-annotate-podtempate.yaml
  target:
    name: sas-compute-job-config
    version: v1
    kind: PodTemplate
#-----------------------------------------------------------------#
# License information
# secretGenerator:
# - name: sas-license
#   type: sas.com/license
#   behavior: merge
#   files:
#   - SAS_LICENSE=license.jwt
configMapGenerator:
- name: ingress-input
  behavior: merge
  literals:
  - INGRESS_HOST=lab401.northeurope.cloudapp.azure.com
- name: sas-shared-config
  behavior: merge
  literals:
  - SAS_SERVICES_URL=http://lab401.northeurope.cloudapp.azure.com 
  # - SAS_URL_EXTERNAL_VIYA={{ EXTERNAL-PROXY-URL }}
  #- ACR -----------------------------------------------------------#
- name: input 
  behavior: merge
  literals:
  - IMAGE_REGISTRY=aomdk.azurecr.io
#-----------------------------------------------------------------#
#- CONSUL-CONFIG -------------------------------------------------#
- name: sas-consul-config
  behavior: merge
  files:
  - SITEDEFAULT_CONF=site-config/sitedefault.yaml
#-----------------------------------------------------------------#
#- DATA-ACCESS ---------------------------------------------------#
- name: sas-access-config
  behavior: merge
  envs:
  - site-config/data-access/sas-access.properties
#-----------------------------------------------------------------#